.App {
  text-align: center;
  height: 100vh;
  background-color: burlywood;
  position: relative;
}
.answer{
  font-size: 18px;
  padding: 10px 16px;
  background-color:rgba(255, 127, 80, 0.89);
  border: none;
  margin-right: 16px;
  border-radius: 5px;
  cursor: pointer;
  background-image: none;
  transition: all linear 0.3s;
  color: white;
}
.answer:hover{
  background-color: rgba(255, 127, 80, 0.733);
}
.wrong{
  background-color: red;
}
.correct{
  background-color: green;
}
button:focus{
  border: none;
}
.popup{
  padding: 30px;
  background-color: #ffffff;
  border: 2px solid rgba(167, 166, 166, 0.271);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 5px;
  box-shadow: 1px 5px 12px -5px red;
  transition: all liner 0.3s;
}
.close {
  position: absolute;
  top: 15px;
  right: 15px;
  cursor: pointer;
}
.hidden{
  opacity: 0;
  display: none;
}